{% load static %}
<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Ecology Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abc education consultancy</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/assets/bootstrap.min.css' %}">
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="{% static 'css/assets/font-awesome.min.css' %}">    
    <link rel="stylesheet" href="{% static 'css/assets/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/magnific-popup.css' %}">    
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/owl.theme.css' %}">     
    <link rel="stylesheet" href="{% static 'css/assets/animate.css' %}"> 
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'css/assets/slick.css' %}">  
    <link rel="stylesheet" href="{% static 'css/assets/preloader.css' %}"/>    

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{% static 'css/assets/revolution/layers.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/revolution/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/revolution/settings.css' %}">    
    <!-- Mean Menu-->
    <link rel="stylesheet" href="{% static 'css/assets/meanmenu.css' %}">
    <!-- main style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    
      <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
</head>
<body>
<header class="header_four">
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>    
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="info_wrapper">
                        <div class="contact_info">                   
        					<ul class="list-unstyled">
                                <li><i class="flaticon-phone-receiver"></i>+91 9988776655</li>
        						<li><i class="flaticon-mail-black-envelope-symbol"></i>contact@abceducationconsultancy.com</li>
        					</ul>                    
                            <div class="logout">
                                <ul class="d-flex">
                                   <li class="nav-item"><a href="{% url 'app1:logout' %}" class="nav-link sign-in js-modal-show"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Log out</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
    <div class="edu_nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-faded">
                <a class="navbar-brand" href="index-2.html"><img src="{% static 'images/logo10.png' %}" alt="logo"></a>
                <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav nav lavalamp ml-auto menu">
                        <li class="nav-item"><a href="index.html" class="nav-link active"></a>
                            <ul class="navbar-nav nav mx-auto">
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{% url 'app1:dashboard' %}" class="nav-link">client dashboard</a></li>
                        <li class="nav-item"><a href="{% url 'app1:about_us' %}" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Services</a>
                            <ul class="navbar-nav nav mx-auto">                                 
                                </li> 
                                <li class="nav-item"><a href="{% url 'app1:bookconsultation' %}" class="nav-link">consultation booking</a></li>
                                <li class="nav-item"><a href="{% url 'app1:booking_status' %}" class="nav-link">booking status</a></li>
                               </li>
                            </ul>                            
                        </li>     
                        <li class="nav-item"><a href="{% url 'app1:contact_us' %}" class="nav-link">Contact us</a></li>
                    </ul>
                </div>
                <div class="mr-auto search_area ">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><i class="search_btn flaticon-magnifier"></i>
                            <div id="search">
                                <button type="button" class="close">×</button>
                                 <form>
                                     <input type="search" value="" placeholder="Search here...."  required/>
                                 </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav><!-- END NAVBAR -->
        </div> 
    </div>


    <!--==================
        Slider
    ===================-->
    <div class="rev_slider_wrapper">
        <div id="rev_slider_1" class="rev_slider">
            <ul>
                <li data-index="rs-1706" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="{% static 'images/banner/banner_1.jpg' %}" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-200','-280','-250','-200']" 
                        data-fontsize="['20','40','40','28']"
                        data-lineheight="['70','80','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                        style="z-index: 7; color:#fff; font-family:'Rubik', sans-serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:500;">The Goal Of Education Is The Advancement Of Knowledge
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                        id="slide-3045-layer-1" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-140','-140','-120']" 
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Take The First Step To
                    </div>

                    <!-- LAYER NR.3 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                        id="slide-3045-layer-1" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','-10','-40']" 
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Knowledge With Us.
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn rev-btn left_btn" 
                        id="slide-2939-layer-8" 
                        data-x="['left','left','left','left']" data-hoffset="['0','500','420','280']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap; font-weight: 500; color: #ffffff;font-family:Rubik; text-transform:uppercase;">
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption rev-btn rev-btn right-btn" 
                        id="slide-2939-layer-8" 
                        data-x="['left','left','left','left']" data-hoffset="['250','-60','-130','-100']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap;  font-weight:500; color:#ffffff; font-family:Rubik; text-transform:uppercase;">
                    </div>
                </li>

                <li data-index="rs-1708" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <img src="{% static 'images/banner/banner_2.jpg' %}" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-200','-280','-250','-200']" 
                        data-fontsize="['20','40','40','28']"
                        data-lineheight="['70','80','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        
                        style="z-index: 7; color:#fff; font-family:'Rubik', sans-serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:500;">The Goal Of Education Is The Advancement Of Knowledge
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                        id="slide-3045-layer-11" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-140','-140','-120']" 
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">Take The First Step To
                    </div>

                    <!-- LAYER NR.3 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                        id="slide-3045-layer-12" 
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','-10','-40']" 
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">Knowledge With Us.
                    </div>

                        <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn rev-btn left_btn" 
                        id="slide-2939-layer13" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap; font-weight: 500; color: #ffffff;font-family:Rubik; text-transform:uppercase; background-color:#ff5a2c; border-color:rgba(0, 0, 0, 1.00); border-width:2px;  border-radius: 3px;">Get Started Now
                    </div>
                        <!-- LAYER NR. 5 -->
                    <div class="tp-caption rev-btn rev-btn right-btn" 
                        id="slide-2939-layer-15" 
                        data-x="['left','left','left','left']" data-hoffset="['250','-60','-130','-100']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="{% static 'z-index: 14; white-space: nowrap;  font-weight:500; color:#ffffff; font-family:Rubik; text-transform:uppercase; background-color:#092ace; letter-spacing:1px; border-radius: 3px;' %}">View Courses
                    </div>
                </li>

            </ul><!-- END SLIDES LIST -->
        </div><!-- END SLIDER CONTAINER -->
    </div><!-- END SLIDER CONTAINER WRAPPER -->
</header> <!--  End header section-->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                       
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        </div>
                        <div class="courses_info">
                        
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
<section class="about_top_wrapper">
    <div class="container">            
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="title">
                    <h2>Take The First Step To Learn With Us.</h2>
                    <p>"At ABC Education Consultancy, we are committed to providing transparent and ethical guidance, ensuring the highest standards of integrity. Our dedicated team strives to assist clients in navigating through challenges, delivering excellence in every aspect of education consulting. We take pride in fostering a trustworthy environment, free from corruption, and are devoted to the well-being and success of those we serve." </p>
                 </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">            
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 ml-auto p-0">
                <div class="banner_learn">
                    <img src="{% static 'images/banner/learnstep.jpg' %}" alt="" class="img-fluid">
                 </div>
            </div>
        </div>
    </div>
    <div class="items_shape"></div>
    <div class="story_about">
        <div class="container">            
            <div class="row">
                <div class="col-12 col-sm-6 col-md-7 col-lg-7">
                    <div class="story_banner">
                        <img src="{% static 'images/banner/about_us.png' %}" alt="" class="img-fluid">
                     </div>
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="about_story_title">
                        <h2>The Srory Of Our ABC education Consultancy.</h2>
                        <p>The story of our ABC Education Consultancy is one marked by a passionate commitment to shaping futures through transformative education services. From our humble beginnings to becoming a trusted name in educational consulting, we have consistently striven to provide tailored solutions that empower individuals to achieve their academic and professional goals. With a dedicated team and a relentless pursuit of excellence, our story is woven with success stories and a steadfast belief in the power of education to make a positive impact on lives</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End about_top_wrapper -->



<section class="events-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="event_title_wrapper">  
                    <div class="sub_title">
                        <h2>Our Upcoming Events</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. ABC Education Consultancy is committed to nurturing academic growth and providing personalized solutions for individuals. With a dedication to excellence, we adopt a collaborative approach, guiding and empowering our clients. We understand the importance of a transformative educational experience, and we strive to ensure it for all.</p>  
                    </div><!-- ends: .section-header -->
                    <div class="envent_all_view">
                        <a href="#" title="">View All</a>
                    </div>
                </div> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 events_full_box">
                <div class="events_single">
                    <div class="event_banner">
                        <a href="#"><img src="{% static 'images/events/event_1.jpg' %}" alt="" class="img-fluid"></a>
                    </div>
                    <div class="event_info">
                        <h3><a href="#" title="">about abroad study webinar<br> Training</a></h3>
                        <div class="events_time">
                            <span class="time"><i class="flaticon-clock-circular-outline"></i>8.00 Am - 5.00 Pm</span>
                            <span><i class="fas fa-map-marker-alt"></i>Hall - A | kannur Audiitorium</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ABC Consultancy is dedicated to fostering academic growth and providing personalized solutions for individuals. With a commitment to excellence, we embrace a collaborative approach, guiding and empowering our clients. Etiam maecenas vel vici quis dictum rutrum nec nisi et. Additionally, our services extend to addressing challenges and navigating educational pathways with diligence and expertise.".</p>
                        <div class="event_dete">
                            <span class="date">09</span>
                            <span>Jan</span>
                        </div>
                    </div>
</section><!-- ./ End Events Area section -->



<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="testimonial_title">
                    <h2>Student Say About Us.</h2>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="testimonial_text_wrapper">
                    <div class="carousel_text slider-for">
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <p>Choosing ABC Education Consultancy was the best decision for my academic path. Their personalized approach and dedicated team made the entire process smooth and stress-free. I am grateful for their guidance, which played a pivotal role in shaping my educational success</p>
                            </div>
                        </div>
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                                <p>ABC Education Consultancy has truly made a difference in my academic pursuits. Their dedicated team provided invaluable guidance, tailoring solutions to meet my unique needs. Thanks to ABC Education Consultancy, I feel empowered and confident in navigating my educational path</p>
                            </div>
                        </div>
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <p>VChoosing ABC Education Consultancy was the best decision I made for my academic journey. Their personalized approach and expert guidance not only helped me navigate through the complexities of the education system but also empowered me to make informed decisions about my future. I am truly grateful for the invaluable support and mentorship I received from ABC Education Consultancy</p>
                            </div>
                        </div>
                    </div> 
                    <div class="reviewer_info">
                        <div class="carousel_images slider-nav">
                            <div class="restimonial_single_img">
                                <img src="{% static 'images/team/review_1.jpg' %}" alt="2" class="img-fluid">
                                <div class="name_position">
                                    <span class="name">Michael Jusi</span>
                                    <span>MBBS</span>
                                </div>
                            </div>                    
                            <div class="restimonial_single_img">
                                <img src="{% static 'images/team/review_4.jpg' %}" alt="2" class="img-fluid ">
                                <div class="name_position">
                                    <span class="name">Jhon Smith</span>
                                    <span>Web Student</span>
                                </div>
                            </div>                    
                            <div class="restimonial_single_img ">
                                <img src="{% static 'images/team/review_3.jpg' %}" alt="2" class="img-fluid">
                                <div class="name_position">
                                    <span class="name">James Colins</span>
                                    <span>Graphic Student</span>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Testimonial -->




<section class="our_sponsor">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Trusted To Tell Their Story</h2>
                    <p>Trusted To Tell Their Story abc education consultancy" is an education consultancy service, it's important to note that the reputation and trustworthiness of such services can vary. To learn more about this organization, you might consider the following steps.</p>  
                </div><!-- ends: .section-header -->
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="sponsored_company_logos">
                    <li><img src="{% static 'images/logo10.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s"></li>
                    <li><img src="{% static 'images/logos/logo-2.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s"></li>
                    <li><img src="{% static 'images/logos/logo-3.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s"></li>
                    <li><img src="{% static 'images/logos/logo-4.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s"></li>
                    <li><img src="{% static 'images/logos/logo-5.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s"></li>
                </ul>
                <ul class="sponsored_company_logos sponsored_company_logos_2">
                    <li><img src="{% static 'images/logos/logo-6.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s"></li>
                    <li><img src="{% static 'images/logos/logo-7.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s"></li>
                    <li><img src="{% static 'images/logos/logo-8.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s"></li>
                    <li><img src="{% static 'images/logo10.png.png' %}" alt="" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s"></li>
                </ul>
            </div>            
        </div>
    </div>
</section><!-- ./ End Our Sponsor -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0 ">
                <div class="shape_wrapper">
                    <img src="images/shapes/bubble_shpe_1.png" alt="" class="shape_t_1"> 
                    <img src="images/shapes/round_shpae_1.png" alt="" class="shape_t_2">
                </div>   
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 p-0 become_techer_wrapper">
                <div class="become_a_teacher">
                    <div class="title">
                        <h2>Become A Instructor</h2>
                        <p>ABC Education Consultancy is dedicated to providing quality educational services to students and institutions alike. Our commitment to excellence is reflected in our tailored approach to each client's needs. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula, libero et blandit cursus, ipsum dolor consectetur est, nec facilisis arcu lectus ac metus</p>  
                    </div><!-- ends: .section-header -->
                    <div class="get_s_btn">
                        <a href="index.html" title="">Get Started Now</a>
                    </div>
                    <img src="{% static 'images/shapes/bubble_shpe_2.png' %}" alt="" class="shape_t_1"> 
                </div>                                
            </div>
        </div>
        <div class="footer_top">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col footer_intro">
                        <img src="{% static 'images/logo2.png' %}" alt="" class="f_logo">
                        <p>ABC Education Consultancy is dedicated to providing quality educational services, valuing students and institutions alike. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio vel pretium, pulvinar aenean, rhoncus eget, adipiscing etiam arcu. Justo ipsum nec amet ultricies</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col">
                        <ul class="location_info quick_inf0">
                        
                        </ul>                         
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col information">
                        <h3></h3>
                       
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col contact">
                        <h3>Contact Us</h3>
                        <p>Fell free to get in touch us via Phone or send us a message.</p>
                        <div class="contact_info">
                            <span>+91 9988776655</span> 
                            <span class="email">info@abceducationconsultancy.com</span>
                        </div>
                        <ul class="social_items d-flex list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="round_shape">
        <span class="shape_1"></span> 
        <span class="shape_2"></span> 
        <span class="shape_3"></span> 
        <span class="shape_4"></span> 
        <span class="shape_5"></span> 
        <span class="shape_6"></span>
    </div>
    <img src="{% static 'images/shapes/footer_bg_shpe_1.png' %}" alt="" class="shapes1_footer">
</footer><!-- End Footer -->

<section id="scroll-top" class="scroll-top">
    <h2 class="disabled">Scroll to top</h2>
    <div class="to-top pos-rtive">
        <a href="#"><i class = "flaticon-right-arrow"></i></a>
    </div>
</section>

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Revolution Slider -->
    <script src="{% static 'js/assets/revolution/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/jquery.themepunch.tools.min.js' %}"></script> 
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>     
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>   
    <script src="{% static 'js/slick.min.js' %}"></script>   
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>  
    <!-- Counter Script -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>    
    <script src="{% static 'js/wow.min.js' %}"></script> 
    <!-- Revolution Extensions -->
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/revolution.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script> 


    <!-- =========================================================
         STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
    ============================================================== -->
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
    <div class="demo-style-switch" id="switch-style">
        <a id="toggle-switcher" class="switch-button" title="Change Styles"><span class="fa fa-cog fa-spin"></span></a>
        <div class="switched-options">
            <div class="config-title">
                <a class="navbar-brand" href="index-2.html"><img src="{% static 'images/logo10.png' %}" alt="logo"></a>
                <p>Education Template</p>
                
            </div>
            
        </div>
    </div>
    <div class="footer">
        <marquee direction="left">All Rights © Reserved for Abc education Consultancy | Development by safwan pm |</marquee>
    </div>
</body>


</html>
